# Files that are distributed onto the RayCanary device always have to have
# Unix-style line endings, even if the installer is built on Windows with
# autocrlf enabled.
# Using CRLF for the init scripts will make them fail to execute on TP-Link.
# See https://github.com/EFForg/rayhunter/issues/489 (upstream historical context)

dist/config.toml.in eol=lf
dist/scripts/misc-daemon eol=lf
dist/scripts/raycanary_daemon eol=lf
scripts/*.sh eol=lf
